{% extends 'base.html' %}
{% block content %}
<style>
    iframe {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        width: 80%; /* Ширина iframe */
        height: 400px; /* Высота iframe */
        border: none; /* Удаление рамки у iframe */
    }
</style>
<div id="gamewraper"><noindex>
<iframe src="https://html5.gamedistribution.com/56da8a54fe204845b34ccff750d4a60b/" width="900" height="600" scrolling="no" allowfullscreen="true" border="0" frameborder="0" sandbox="allow-pointer-lock allow-same-origin allow-scripts allow-modals"></iframe>
</noindex></div>
{% endblock %}